{{ $image := .Get "image" }}
{{ $modelDownload := .Get "model-download" | default "false" }}

{{ $step1 := printf "1. Start the labspace:\n\n   ```console\n   $ docker compose -f oci://%s up -d\n   ```" $image }}

{{ if eq $modelDownload "true" }}
  {{ $step1 = printf "%s\n\n   > [!NOTE]\n   >\n   > The lab may take a few minutes to launch, as this lab requires an AI model that will need to be downloaded." $step1 }}
{{ end }}

{{ $step2 := "2. Open your browser to [http://localhost:3030](http://localhost:3030)." }}

{{ printf "%s\n\n%s" $step1 $step2 | .Page.RenderString (dict "display" "block") }}
